<main>
    <div class="container-lg justify-content-center">
        <h1 class="mx-auto text-muted" style="width: fit-content;">Online Auction</h1>
        <h3 class="mx-auto text-primary" style="width: fit-content;">Web Nerdy Team</h3>
        <h5 class="small mx-auto text-success" style="width: fit-content;">THANKS FOR JOINING</h5>
        <h4 class="mx-auto" style="width: fit-content;">Your registration is complete.</h4>
    </div>
    </div>
</main>