

    <link rel="stylesheet" href="/assets/css/category.css">
    

    <main>
      <div>
        <div class="container-category">
            <div class="row">
              <div class="col-12">

                <div>
                  <a class="btn btn-outline-success" href="/category-add" role="button">
                    <i class="fas fa-plus-circle" aria-hidden="true"></i>
                    Add Category
                  </a>
                </div>

                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Art</td>
                      <td>
                        <button type="button" class="btn btn-primary" name="btn-view-cat"><i class="far fa-eye"></i></button>
                        <button type="button" class="btn btn-success" name="btn-edit-cat"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger" name="btn-remove-cat"><i class="far fa-trash-alt"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Ocean</td>
                      <td>
                        <button type="button" class="btn btn-primary" name="btn-view-cat"><i class="far fa-eye"></i></button>
                        <button type="button" class="btn btn-success" name="btn-edit-cat"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger" name="btn-remove-cat"><i class="far fa-trash-alt"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Books</td>
                      <td>
                        <button type="button" class="btn btn-primary" name="btn-view-cat"><i class="far fa-eye"></i></button>
                        <button type="button" class="btn btn-success" name="btn-edit-cat"><i class="fas fa-edit"></i></button>
                      <button type="button" class="btn btn-danger" name="btn-remove-cat"><i class="far fa-trash-alt"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>
    </main>
    
   

    <script src="/assets/js/ad-category.js"></script>