<main>
    <div class="container-lg justify-content-center">
        <h1 class="mx-auto text-muted" style="width: fit-content;">Online Auction</h1>
        <h3 class="mx-auto text-primary" style="width: fit-content;">Web Nerdy Team</h3>
        <h5 class="mx-auto" style="width: fit-content;">We've sent you a mail to confirm, please follow the link inside to active your account.</h5>
    </div>
    </div>
</main>