
.ad-product-img {
  width : 100px;
  height: 100px
}

.product-table {
  padding: 2rem 02em;
}

/* .nav-page ul li{
    display: inline-block;
    /* list-style-type: none; */
} */
/* .container-category.h4 {
  margin: 2rem 0rem 1rem;
}
>>>>>>> Stashed changes
 */